<div class="d-flex" id="<%= dom_id inventory_purchase %>">
  <div class="mb-2">
    <%= render 'inventory_purchases/inventory_details', inventory_purchase: inventory_purchase %>
  </div>
  <div>
    <%= render 'products/form_selling_orders', inventory_purchase: inventory_purchase %>
  </div>
</div>