<div id="<%= dom_id f.object %>" class='nested-form-wrapper my-1 ' data-new-record="<%= f.object.new_record? %>" >
  <div class="user_order" >
    <div class="p-0">
      <p class=""><%= f.object.customer.name %></p>
      <p class="">cant: <%= f.object.quantity %></p>
    </div>
  </div>
</div>