<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <div class="nav-item mobile_log_out">
        <%= button_to destroy_admin_session_path, method: :delete, class: red_btn do %>
          <i class="fa-solid fa-right-from-bracket"></i>
        <% end %>
      </div>
      <%= show_filter(params) %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <%= admins_nav_links(current_admin) %>
    </div>
    <div class="nav-item desktop_log_out">
      <%= button_to destroy_admin_session_path, method: :delete, class: red_btn do %>
        <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
    </div>
  </div>
</nav>