<ul class="navbar-nav align-items-center">
  <li class="nav-item">
    <%= link_to 'Balances', super_admin_balances_path, class: active_nav?(super_admin_balances_path) %>
  </li>
  <li class="nav-item">
    <%= link_to 'Admin', super_admin_admins_path, class: active_nav?(super_admin_admins_path) %>
  </li>
</ul>