<div class="card__container p-2">
  <div class="card m-1" >
      <div class="card-body">
        <p class="card-title">
          <strong>
          <%= link_to customer.name, customer_path(customer.id), class: 'text-decoration-none' %>
          </strong>
        </p>
        <p class="card-text"><%= customer.phone %></p>
        <% customer.unpaid_products.each do |product_name| %>
          <span class="badge"><%= product_name %></span>
        <% end %>
      </div>
    </div>
</div>
