<div class="card d-inline-block m-1 border-danger" >
  <div class="card-body">
    <p class="card-text"><%= link_to customer.name, customer_path(customer.id) %></p>
    <p class="card-text"><%= customer.phone %></p>
  </div>
</div>
