<%= @customer.name %>
<div id="unpaid_selling_orders">
  <% @unpaid_selling_orders.each do |selling_order| %>
    <%= render 'selling_orders/simple_form', selling_order: selling_order %>
  <% end %>
</div>
<div id="paid_selling_orders">
  <%= render @selling_orders %>
</div>