<div class="d-flex gap-1">
  <div>
  +<%= selling_order.debt_payed %>
  </div>
  <div>
    <div>cliente: <%= selling_order.customer.name %></div>
    <div><%= selling_order.product.name %></div>
    <div><%= selling_order.update_date %></div>
  </div>
</div>