/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "colors";
@import "font-awesome";
@import "buttons";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


 .form-control-focus {
   color: #212529;
   background-color: #fff;
   border-color: #86b7fe;
   outline: 0;
   box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
 }

.was-validated :valid + .form-control-focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}

.was-validated :invalid + .form-control-focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.card {
  transition: box-shadow 0.5s ease;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.navbar .navbar-brand.active {
  color: $color_primario_baja;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.model_container {
  margin: 20px 0;
  padding: 0 10px;
}

.product_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  #products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .card-text {
      display: none;
    }
    span {
      background-color: $color_contrast;
    }
  }
}

.customer_container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   #customers {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
   }
 }

.model__display{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card__container {
  border: 1px solid $color_grey;
  border-radius: 20px;
}

.image-wrapper img {
  border-radius: 20px;
}

.card {
  width: 9rem;
  border-radius: 20px;
  margin: 0;
  .card-body {
    padding: 8px;
  }
}

.selling_order_container {
  display: flex;
  flex-wrap: wrap;
  .user_order {
    display: inline-block;
    padding: 5px;
    width: 5rem;
    margin: 3px;
  }
}

.with_stock {
  background-color: $color_primario_baja;
}

@media (min-width: 601px) {
  .card {
    width: 16rem;
  }
  #products {
    .card-text {
      display: block !important;
    }
  }
}
