$lighten_percentage: 20%;
$darken_percentage: 15%;
$color_primario: #E7A5A9;
$color_contrast: #1a4945;
$color_grey: #f1f1f1;
$box_shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

$color_primario_baja: lighten($color_primario, $lighten_percentage);
$color_contrast_baja: lighten($color_contrast, $lighten_percentage);
$color_grey_alta: darken($color_grey, $darken_percentage);
$transition_time: 5s;