<%= form_with model: category, id: "category_form" do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: form_label %>
    <%= f.text_field :name, class: form_control %>
  </div>

  <%= f.submit class: blue_btn %>
<% end %>