<div class="d-inline-block">
  <div class="card" id="<%= dom_id product %>" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to product.name, product_path(product.id) %></h5>
    </div>
      <div class="card-body">
        <p class="card-text"><%= product.description %></p>
        <% product.tag_list.each do |tag| %>
          <span class="badge rounded-pill bg-info text-dark"><%= tag %></span>
        <% end %>
      </div>
  </div>
</div>
