<div id="<%= dom_id product %>" >
  <div class="card-body p-0">
    <%= turbo_frame_tag "edit_product_#{product.id}" do %>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %>
        <%= link_to edit_product_path(product.id), class: 'card-link' do %>
            <i class="fa-solid fa-pen-to-square"></i>
          </h5>
        <% end %>
      </div>
    <% end %>
  </div>
</div>