<div class="products_container">

  <%= link_to 'Toggle Form', '', data: {
    controller: 'product-form',
    action: 'product-form#toggle' } %>
  <div>
    <%= render 'products/form', product: @product %>
  </div>
    <div id="products" class="col-9">
      <%= render @products %>
  </div>
</div>

