<div class="products_container">
  <%= link_to 'Add New Product', '', data: {
    controller: 'product-form',
    action: 'product-form#toggle' } %>
  <div>
    <%= render 'products/form', product: @product %>
  </div>
    <div id="products">
      <%= render @products %>
  </div>
</div>

