<div class="products_container">
  <%= link_to 'Add New Product', '', data: {
    controller: 'product-form',
    action: 'product-form#toggle' }, class: green_btn %>
  <div>
    <%= render 'products/form', product: @product %>
  </div>
  <div class="my-4">
      <%= render 'filters', category_list: @products.products_cat %>
  </div>
  <div id="products">
    <%= render @products %>
  </div>
</div>

