<div class="products_container">
  <div class="row">
    <div class="col-4">
      <%= render 'products/form', product: @product %>
    </div>
    <div id="products" class="col-8">
      <%= turbo_stream_from 'products' %>
      <%= render @products %>
    </div>
  </div>
</div>

